<!DOCTYPE html>
<html>
<head>
    <script src="js-core/chat-core.js"></script>
    <script src="js-core/requester.js"></script>
    <script>
        // localStorage.removeItem("current_user");
        function redirectToLogin() {
            const currentURL = document.URL;
            const tokens = currentURL.split("/");
            window.location.replace(tokens[0] + "/login");
        }

        const currentUserData = localStorage.getItem("current_user");
        if (!currentUserData)
            redirectToLogin();

        const jsonUser = JSON.parse(currentUserData);
        const CURRENT_USER = User.fromJSON(jsonUser);

    </script>

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet'
          type='text/css'>

    <link rel='stylesheet prefetch' href='css/reset.min.css'>
    <link rel='stylesheet prefetch' href='font-awesome/css/font-awesome.min.css'>
    <link rel='stylesheet' href="css/my_style.css">
</head>
<body>


<div id="frame">
    <div style="width: 100%; margin-bottom: 30px; display: none">
        <span>questo E' il log:</span><br>
        <div id="log">
        </div>
    </div>
    <div id="sidepanel">
<!--        <div id="contacts"></div>-->
    </div>
    <div class="content" id="active-chat">
    </div>
</div>
<a id="logout_button" href="#" class="float">
    <i class="fa fa-sign-out my-float"></i>
</a>
</body>
</html>

<script>

    document.getElementById("logout_button").onclick = function () {
        localStorage.removeItem("current_user");
        redirectToLogin();
    };
</script>


<script src="js-view/util.js"></script>
<script src="js-view/chat-sidepanel.js"></script>
<script src="js-view/chat-frame.js"></script>
<!--<script src="test/chat-core-test.js"></script>-->
<!--<script src="test/generator-data.js"></script>-->

<!--<script src="test/test.js"></script>-->
<script src="js-view/init.js"></script>


